@import "./variables.scss";
@import "./animations.scss";

@tailwind base;

@tailwind components;

@tailwind utilities;

//    GENERAL     //

h1 {
  font-family: "Playfair Display", serif;
}

.display_contact a,
.display_dropdown a,
.dropdown-menu a {
  font-family: "Rokkitt", serif;
  font-size: 1.2em;
}

.nav_logo__nav span {
  font-family: "Rokkitt", sans-serif;
  padding: 0 5px;
}

.nav_logo__nav-lowres {
  display: none;
}

.relative {
  position: relative;
}

hr {
  margin-top: 5px;
  width: 50px;
}

//    HEADER    //

#header_dropdown-lowres i,
.display_contact i {
  padding-right: 10px;
}

.bg-custom1 {
  background-color: $custom-color1;
}

.display_contact {
  display: none;
}

.navbar-fb {
  right: 0;
}

.dropdown ul li {
  font-size: 0.85em;
}

//    MAIN    //

main {
  background: $gradient1;
  margin-bottom: 100px;
}

.dropdown:hover .dropdown-menu {
  display: block;
  position: absolute;
  z-index: 10;
}

.nav_logo__nav-lowres {
  align-items: flex-start;
}

.nav_logo__nav-lowres span {
  margin: 20px 0px 20px 20px;
}

.nav_logo__nav-lowres #dropdown-menu {
  padding-top: 10px;
}

.nav_logo__nav-lowres i {
  display: inline-flex;
  align-items: right;
}

.separate {
  width: 30%;
  margin: 0 auto;
  border: 1px solid #000;
}

//    CAROUSSEL   //

.carousel_legend {
  padding: 10px;
  background-color: #fff;
  font-size: 1.2em;
}

//    EVENEMENTS    //

.event-banner {}

//    INSPIRATIONS    //

main h2 {
  text-align: center;
  font-family: "Playfair Display", serif;
}

.sections-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  margin-top: 50px;
}

.classique,
.contemporain,
.rustique,
.industriel,
.nordique {
  width: auto;
  flex-direction: row;
}

.classique h3 {
  font-size: 1.6em;
  font-family: "Merriweather", sans-serif;
  background-color: $custom-color2;
  color: #fff;
}

.contemporain h3 {
  font-size: 1.6em;
  font-family: "Lato", sans-serif;
  background-color: #2c302c;
  color: #fff;
}

.rustique h3 {
  font-size: 1.6em;
  font-family: "Amaranth", sans-serif;
  background-color: $custom-color5;
  color: #fff;
}

.industriel h3 {
  font-size: 1.6em;
  font-family: "Oswald", sans-serif;
  background-color: #a44150;
  color: #fff;
}

.nordique h3 {
  font-size: 1.6em;
  font-family: "Raleway", sans-serif;
  background-color: $custom-color4;
  color: #fff;
}

.classique h3,
.industriel h3,
.contemporain h3,
.rustique h3,
.nordique h3 {
  padding: 10px;
  margin-bottom: 10px;
  //background-color: #f0f8ff;
  border-radius: 5px;
  text-align: center;
  -webkit-box-shadow: -10px 0px 13px -7px $custom-color1,
    10px 0px 13px -7px $custom-color1, 5px 5px 15px 5px rgba(0, 0, 0, 0);
  box-shadow: -10px 0px 13px -7px $custom-color1,
    10px 0px 13px -7px $custom-color1, 5px 5px 15px 5px rgba(0, 0, 0, 0);
}

.image-flex {
  width: 100%;
  margin: 0 auto;
  border-radius: 5px;
  -webkit-box-shadow: 5px 5px 15px 5px rgba(0, 0, 0, 0.6);
  box-shadow: 5px 5px 15px 5px rgba(0, 0, 0, 0.6);
}

.thumbnail-image {
  max-width: 200px; /* Définissez la largeur maximale souhaitée pour les miniatures */
  max-height: 200px; /* Définissez la hauteur maximale souhaitée pour les miniatures */
}

//    SECTION MEUBLES INSPIRATIONS   //

.text-white {
  color: white;
}

.font-bold {
  font-weight: bold;
}

.uppercase {
  text-transform: uppercase;
}

.tracking-wider {
  letter-spacing: 0.1em;
}

#fullscreen {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.9);
  display: none;
}

#fullscreen:target {
  display: flex;
  justify-content: center;
  align-items: center;
}

#fullscreen img {
  max-height: 90vh;
  max-width: 90vw;
  object-fit: contain;
  margin: auto;
}

#fullscreen a {
  color: #fff;
}

.section-meubles_inspirations h1 {
  margin-bottom: 30px;
  font-size: 2.2em;
}

.section-meubles_inspirations h2 {
  margin: 30px 0;
  font-size: 1.5em;
  font-style: italic;
}

.meubles_textes_part1 p,
.meubles_textes_part2 p {
  margin: 30px;
}

.meubles_textes_part1 p::first-letter,
.meubles_textes_part2 p::first-letter {
  font-weight: bold;
  font-size: 1.4em;
}

.meubles_img-container img {
  width: 320px;
  height: 320px;
}

.leading-loose a {
  font-weight: bold;
}

.leading-loose a {
  opacity: 0.6;
}

.leading-loose strong {
  opacity: 0.75;
}

//    CLASSIQUE   //

.main_classique-bg {
  position: relative;
  z-index: 9;
  background: linear-gradient(to bottom, #d5c6b5, #fff);
}

#classique_chic-banner {
  position: relative;
  display: flex;
  justify-content: center;
  //height: 350px;
}

#classique_chic-banner img {
  width: 800px;
  height: auto;
  object-fit: cover;
}

#classique_chic-banner p {
  background-color: #663c2890;
  font-family: "Merriweather", sans-serif;
  padding: 30px;
}

.bg-brown-light {
  background-color: #d5c6b5;
}

.section-meubles_inspirations-classique {
  background-color: #ebeef3;
}

.section-meubles_inspirations-classique p::first-letter {
  color: #663c28;
}

//    CONTEMPORAIN    //

#contemporain-banner {
  position: relative;
  display: flex;
  justify-content: center;
}

#contemporain-banner p {
  background-color: #2c302c90;
  font-family: "Merriweather", sans-serif;
  padding: 30px;
}

.bg-contemporain {
  background-color: #e7ede7;
}

.main_contemporain-bg {
  background: linear-gradient(to bottom, #d8e5d8, #fff);
}

.contemporain p::first-letter,
.contemporain p::first-letter {
  color: #2c302c;
}

//    INDUSTRIEL    //

#industriel-banner {
  position: relative;
  display: flex;
  justify-content: center;
  //height: 350px;
}

#industriel-banner p {
  background-color: #a4415090;
  font-family: "Merriweather", sans-serif;
  padding: 30px;
}

.bg-industriel {
  background-color: #e0c1c6;
}

.main_industriel-bg {
  background: linear-gradient(to bottom, #e0c1c6, #ffffff);
}

.industriel p::first-letter,
.industriel p::first-letter {
  color: #a44150;
}

//    RUSTIQUE    //

.main_rustique-bg {
  background: linear-gradient(to bottom, #d5c6b5, #fff);
}

#rustique-banner {
  position: relative;
  display: flex;
  justify-content: center;
}

#rustique-banner p {
  background-color: #cf890790;
  font-family: "Merriweather", sans-serif;
  padding: 30px;
}

.bg-rustique {
  background-color: #e4cca1;
}

.rustique p::first-letter,
.rustique p::first-letter {
  color: #cf8907;
}

//    NORDIQUE   //

#nordique-banner {
  position: relative;
  display: flex;
  justify-content: center;
}

#nordique-banner img {
  width: 450px;
  height: 320px;
}

#nordique-banner p {
  background-color: #2a2e5290;
  font-family: "Merriweather", sans-serif;
  padding: 30px;
}

.bg-nordique {
  background-color: #b0b2c4;
}

.main_nordique-bg {
  background: linear-gradient(to bottom, #b0b2c4, #fff);
}

.nordique p::first-letter,
.nordique p::first-letter {
  color: #2a2e52;
}

//    SECTION MEUBLES CHOIX   //

.notre_choix {
  margin-top: 150px;
}

.notre_choix h2 {
  margin-bottom: 20px;
}

.notre_choix img {
  width: 450px;
  height: 450px;

  @media screen and (max-width: 1024px) {
    width: 320px;
    height: 320px;
  }
}

.absolute hr {
  width: 100%;
  color: #fff;
}

//    FOOTER    //

footer {
  bottom: 0;
  width: 100%;
}

footer nav,
footer p {
  color: white;
}

.footer_logo {
  flex-direction: column;
  text-align: center;
  margin-top: 40px;
}

.footer_logo p {
  margin-bottom: 20px;
}

.footer_logo img {
  margin: auto;
}

.footer-rubriques {
  width: 100%;
  text-align: left;
  margin: 30px 30px 20px 20px;

  &__title {
    margin: 30px 0 0 20px;
  }
}

.ambiances_suite {
  visibility: hidden;
}

.footer_social {
  margin: 30px 0;
  flex-direction: row;
  justify-content: center;
}

.footer_social a {
  color: white;
  padding-right: 20px;
}

.copyright {
  display: flex;
  align-items: center;
  text-align: center;
  height: 60px;
}

//    MEUBLES_STYLES    //

.grid {
  padding-top: 150px;
  margin: 0 auto;
  position: relative;
}

.grid-item {
  box-sizing: border-box;
  overflow: hidden;

  &:hover img {
    transform: scale(1.1);
  }
}

.grid img {
  width: 200px;
  transition: transform 0.3s ease-out;
}

.meubles {
  position: relative;
}

.meubles h2 {
  position: absolute;
  margin: 10px 0;
  padding: 5px;
  z-index: 2;
  top: 10px;
  left: 20px;
  background-color: #fff;
  border-radius: 3px;
}

.image-viewer {
  position: relative;
}

.image-viewer h3 {
  position: absolute;
  margin: 10px 0;
  padding: 5px;
  z-index: 2;
  top: -100px;
  background-color: #fff;
  border-radius: 3px;
  border: 3px solid #0000003a;
}

//    MEUBLES_CLASSQIQUE    //

.meubles_classique h2,
.meubles_classique h3 {
  border-left: 4px solid #663c28;
}

//    MEUBLES_CONTEMPORAIN    //

.meubles_contemporain h2,
.meubles_contemporain h3 {
  border-left: 4px solid #2c302c;
}

//    MEUBLES_RUSTIQUE    //

.meubles_rustique h2,
.meubles_rustique h3 {
  border-left: 4px solid #cf8907;
}

//    MEUBLES_INDUSTRIEL    //

.meubles_industriel h2,
.meubles_industriel h3 {
  border-left: 4px solid #a44150;
}

//    MEUBLES_NORDIQUE   //

.meubles_nordique h2,
.meubles_nordique h3 {
  border-left: 4px solid #2a2e52;
}

//    CHOIX_PRODUITS    //

#furniture-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0 auto;
  gap: 1rem;
}

.furniture-item {
  display: flex;
  flex-direction: column;
  flex: 0 0 calc(25% - 1rem);
  /* 3 colonnes */
  box-sizing: border-box;
  background-color: #f5f5f5;
  padding: 1rem;
  border-radius: 4px;
  margin-bottom: 1rem;
  justify-content: space-between;
  /* ajouter pour aligner les éléments en haut et en bas */
}

.furniture-item img {
  display: flex;
  align-items: center;
  height: 100%;
}

.furniture-item div {
  margin-top: auto;
  /* ajouter pour faire descendre furnitureInfo en bas */
}

.meubles_choix {
  padding-top: 100px;
}

.meubles_choix h2,
.meubles_choix h3 {
  padding: 5px;
  background-color: #fff;
  border-radius: 3px;
  font-family: "Playfair Display", serif;
  font-size: 1.3em;
}

.meubles_choix h3 {
  margin-bottom: 50px;
  text-align: center;
}

//    BIOGRAPHIE    //

.biographie_container {
  padding: 80px 0;
}

#main_biographie {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 80%;
  background-color: #fff;
  margin: 0 auto;
  padding: 20px;
  border-radius: 10px;
  -webkit-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
  box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
}

.main_biographie__title {
  position: relative;
  margin-top: 20px;
  order: -1;
}

.main_biographie__title p {
  position: absolute;
  top: 28;
  right: 0;
  background-color: rgb(0, 132, 255);
  color: #fff;
  width: 31%;
  font-size: 1.2em;
}

.main_biographie__title span {
  color: rgb(212, 92, 52);
  font-size: 2.4em;
  padding-left: 3px;
}

.main_biographie__title h2 {
  font-size: 2em;
  font-weight: bold;
  color: rgb(4, 4, 126);
}

.img-container img {
  max-width: 150px;
  border: 2px solid rgb(4, 4, 126);
  border-radius: 10px;
}

.main_biographie__content article {
  display: flex;
}

.article-container {
  margin: 50px 0;
}

.description-container {
  position: relative;
  margin-left: 30px;
}

.description-container h3 {
  color: rgb(0, 132, 255);
  font-weight: 600;
}

.description-container hr {
  position: absolute;
  left: -32;
  top: 18;
  height: 4px;
  width: 75%;
  background: linear-gradient(90deg,
      rgb(4, 4, 126) 0%,
      #b7b6c4 50%,
      #f5f6fa 100%);
}

.description-container p {
  margin: 20px 0;
}

.label-logo {
  padding-top: 50px;
  align-items: center;
  justify-content: center;
}

//    CONTACT    //

.contact_container {
  display: flex;
  flex-direction: column;
  padding: 40px;
}

.contact_container h2 {
  background-color: #fff;
  width: 100%;
  margin: 30px 0;
  padding: 20px;
  font-size: 1.8em;
  border-radius: 5px;
  order: -1;
  -webkit-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.35);
  -moz-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.35);
  box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.35);
}

.contact_infos--text {
  background-color: #fff;
  -webkit-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.35);
  -moz-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.35);
  box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.35);
  padding: 30px;
  width: 100%;
  max-width: 500px;
  margin: 0 auto;
}

.contact_infos--text p {
  text-align: center;
  margin-bottom: 10px;
}

.contact_map {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

.contact_map iframe {
  display: block;
  max-width: 600px;
  width: 100%;
  min-height: 600px;
  height: 100%;
  margin-top: 50px;
  -webkit-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.35);
  -moz-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.35);
  box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.35);
}


//      POINTS FORTS      //

.points_forts_container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 40px;
}

.main_points_forts__content {
  margin: 0 auto;
}

.main_points_forts__content p {
  color: #373741;
  margin-bottom: 20px;
}

.main_points_forts__title {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  margin-top: 20px;
  order: -1;
}

.main_points_forts__title h2 {
  font-size: 1.8em;
  color: #373741;
  margin-bottom: 20px;
}

.main_points_forts__title hr {
  position: absolute;
  top: 50px;
  height: 4px;
  width: 25%;
  background: linear-gradient(90deg,
      rgb(81, 81, 158) 0%,
      #b7b6c4 50%,
      #f5f6fa 100%);
}

.main_points_forts__content h3 {
  font-size: 1.2em;
  color: #373741;
  margin-bottom: 20px;
}

.article-container i {
  font-size: 2em;
  color: rgb(4, 4, 126);
  margin-right: 20px;
}






/* Text below image on lower resolutions */
@media screen and (max-width: 767px) {
  #main_biographie {
    width: 90%;
    padding: 20px 0;
  }

  .article-container {
    flex-direction: column;
  }

  .article-container img {
    margin-right: auto;
    margin-left: auto;
    display: block;
  }

  .article-container h3,
  .article-container p {
    max-width: 90%;
    text-align: center;
  }

  .main_biographie__title h2 {
    font-size: 1.4em;
  }

  .main_biographie__title span {
    font-size: 1.4em;
  }

  .main_biographie__title p {
    font-size: 1.2em;
    top: -10;
    right: 0;
    width: 50%;
  }

  .description-container hr {
    position: absolute;
    left: -32;
    top: 30;
    height: 4px;
    width: 75%;
  }
}

/* Styles pour les points de rupture (breakpoints) */
@media (max-width: 1024px) {
  .furniture-item {
    flex: 0 0 calc(50% - 1rem);
    /* 2 colonnes */
  }
}

@media (max-width: 768px) {
  .furniture-item {
    flex: 0 0 100%;
    /* 1 colonne */
  }
}

//    MEDIA QUERIES     //

// Affichage mobiles
@media (min-width: 320px) and (max-width: 480px) {
  .nav_logo__logo img {
    margin-top: 30px;
  }

  .bg-white button {
    margin-top: 20px;
    margin-bottom: 30px;
  }

  h1 {
    text-align: center;
    margin-bottom: 20px;
  }

  .display_dropdown {
    & a i {
      margin-right: 5px;
    }
  }

  .dropdown {
    padding-bottom: 30px;
  }

  .nav_logo__nav {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  #test {
    visibility: hidden;
    display: flex;
  }

  .footer_logo {
    align-items: center;
  }

  .footer_social a {
    padding: 10px 0;
  }

  .footer-rubriques {
    flex-direction: column;
  }

  #propos {
    padding-bottom: 30px;
  }

  .copyright {
    font-size: 0.8em;
  }

  .sections-container {
    flex-direction: column;
  }
}

// Affichage tablettes
@media (min-width: 481px) and (max-width: 768px) {
  .nav_logo__logo img {
    margin: 20px 0;
  }

  .bg-white section {
    flex-direction: column;
    margin-bottom: 40px;
  }

  .nav_logo__nav {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .nav_logo__nav span {
    font-size: 1.2em;
  }

  .display_dropdown:hover,
  .display_dropdown {
    display: block;

    & a i {
      margin-right: 5px;
    }
  }

  .image-flex {
    width: 450px;
    height: 450px;
  }
}

// Affichage écrans moyens
@media (min-width: 769px) and (max-width: 1080px) {
  .nav_logo__logo img {
    margin: 20px 0;
  }

  .bg-white section {
    flex-direction: column;
    margin-bottom: 60px;
    margin-top: 20px;
  }

  /*   .nav_logo__nav {
    margin-bottom: 50px;
  } */

  .nav_logo__nav span {
    font-size: 1.2em;
    margin-right: 10px;
  }

  .image-flex {
    width: 300px;
    height: 300px;
  }
}

// Affichage grands écrans
@media (min-width: 1081px) and (max-width: 2260px) {
  .bg-white section {
    padding: 40px;
  }

  .display_dropdown {
    display: none;
  }

  .display_contact {
    display: block;

    & a i {
      margin-right: 5px;
    }
  }

  .nav_logo__nav span {
    font-size: 1.3em;
    margin-right: 5px;
  }

  .footer-rubriques {
    margin: 40 0 20 0;
  }
}

@media (min-width: 1081px) and (max-width: 1116px) {
  .image-flex {
    width: 280px;
    height: 280px;
  }
}

@media (min-width: 1117px) and (max-width: 1216px) {
  .image-flex {
    width: 180px;
    height: 180px;
  }
}

@media (min-width: 1217px) and (max-width: 1440px) {
  .image-flex {
    width: 200px;
    height: 200px;
  }
}

@media (min-width: 1441px) and (max-width: 1516px) {
  .image-flex {
    width: 240px;
    height: 240px;
  }
}

@media (min-width: 1517px) and (max-width: 1716px) {
  .image-flex {
    width: 260px;
    height: 260px;
  }
}

@media (min-width: 1717px) and (max-width: 2260px) {
  .image-flex {
    width: 300px;
    height: 300px;
  }
}

// Affichage très grands écrans
@media (min-width: 2261px) {
  .bg-white section {
    padding: 40px;
  }

  .image-flex {
    width: 410px;
    height: 410px;
  }

  .nav_logo__nav {
    font-size: 1.4em;
  }
}