
  
body {
  color: black;
  background-color: #1f9b80;
  font-family: Montserrat, sans-serif;
  font-size: 100%;
  margin: 0px;
  text-align: center;
}

/* HEADER */

.banner {
  background-color: #fff;
  height: 115px;
  position: fixed;
  top: 0px;
  width: 100%;
  padding: 0px 0px 0px 0px;
  z-index: 90;
}

.logo img {
  float: left;
  height: 106px;
  padding: 7px;
}

.nav {
  float: right;
  padding: 16px 25px 0px 0px;
  text-align: right;
}

a {
  color: #6759a5;
  padding: 15px;
  text-decoration: none;
  font-size: 120%;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  line-height: 1.4em;
}

a:hover {
  color: black;
}

/* ABOUT BANNER */

#about-banner {
  background-color: #fff;
  padding-bottom: 75px;
  width: auto;
}

.about {
  background-color: #6759a5;
  margin-top: 200px;
  display: inline-block;
  width: 600px;
  height: 270px;
  padding: 10px;
}

#scotty-photo {
  height: 200px;
  border: 1px solid black;
  float: left;
  margin-right: 25px;
  margin-top: 25px;
  margin-left: 20px;
}

.about h1 h3 p {
  justify-items: left;
}

.about h3 {
  color: #fff;
}

/* PORTFOLIO SECTION */

#portfolio-container {
  background-color: #fff;
  padding-top: 15px;
}

.portfolio {
  display: inline-block;
  padding-bottom: 25px;
  background-color: #1f9b80;
  margin-bottom: 40px;
  padding-top: 10px;
  align-items: center;
}

.projects {
  margin: 15px;
  justify-content: center;
}

#project1 {
  border: 2px solid black;
  width: 280px;
  float: left;
  text-align: center;
  background-color: #fff;
}

#project2 {
  border: 2px solid black;
  width: 280px;
  float: left;
  text-align: center;
  background-color: #fff;
}

#project3 {
  border: 2px solid black;
  width: 280px;
  float: left;
  text-align: center;
  background-color: #fff;
}

#project4 {
  border: 2px solid black;
  width: 280px;
  float: left;
  text-align: center;
  background-color: #fff;
}

#project5 {
  border: 2px solid black;
  width: 280px;
  float: left;
  text-align: center;
  background-color: #fff;
}

/* SKILLS */

#skills-container {
  background-color: #fff;
  padding-top: 30px;
  width: 100%;
}

.skills {
  background-color: #e7435d;
  padding-top: 15px;
}

/* CONTACT */
#contact-container {
  background-color: #fff;
  padding-top: 30px;
  padding-bottom: 30px;
}

.contact {
  width: 800px;
  display: inline-block;
  padding-bottom: 25px;
}

.contacts-line {
  background-color: #6759a5;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.contact-logo {
  width: 45px;
  border: 1px solid black;
  border-radius: 50%;
  float: left;
}

/* FOOTER */

.footer-container {
  background-color: #1f9b80;
  height: 50px;
  position: relative;
  padding-top: 10px;
  padding-bottom: 15px;
}

.copyright-text {
  text-align: center;
}

/* HOVERS */

img:hover {
  -webkit-filter: brightness(115%);
}

#project1:hover {
  background-color: whitesmoke;
  border: 1px solid #1f9b80;
  cursor: pointer;
  box-shadow: inset 0 0 10px #000000;
}

#project2:hover {
  background-color: whitesmoke;
  border: 1px solid #1f9b80;
  box-shadow: inset 0 0 10px #000000;
}

#project3:hover {
  background-color: whitesmoke;
  border: 1px solid #1f9b80;
  box-shadow: inset 0 0 10px #000000;
}

#project4:hover {
  background-color: whitesmoke;
  border: 1px solid #1f9b80;
  box-shadow: inset 0 0 10px #000000;
}

#project5:hover {
  background-color: whitesmoke;
  border: 1px solid #1f9b80;
  box-shadow: inset 0 0 10px #000000;
}

.projects:hover {
  -webkit-filter: brightness(80%);
}

.contact img:hover {
  -webkit-filter: brightness(80%);
}
